section.section#skill.skill
    .section__title 
        h2 Skill
    .section__content
        ul.skill
            li.skill__list
                .skill__img 
                    img(src=require("../../images/HTML5_Logo_128.png").default)
                .skill__name HTML5
            li.skill__list 
                .skill__img 
                     img(src=require("../../images/CSS3.png").default)
                .skill__name CSS3
            li.skill__list 
                .skill__img 
                     img(src=require("../../images/js_logo.png").default)
                .skill__name JavaScript
            li.skill__list 
                .skill__img 
                     img(src=require("../../images/Vuejs_Logo.png").default)
                .skill__name Vue.js
            li.skill__list 
                .skill__img 
                     img(src=require("../../images/Webpack_Logo.png").default)
                .skill__name Webpack
            li.skill__list 
                .skill__img 
                    img(src=require("../../images/nodejs.png").default)
                .skill__name Node.js
            li.skill__list 
                .skill__img 
                    img(src=require("../../images/typescript.svg").default)
                .skill__name TypeScript
            li.skill__list 
                .skill__img 
                    img(src=require("../../images/pug.svg").default)
                .skill__name Pug
            li.skill__list 
                .skill__img 
                    img(src=require("../../images/sass-1.svg").default)
                .skill__name Scss(Sass)
            li.skill__list 
                .skill__img 
                    img(src=require("../../images/aws_logo_smile.png").default)
                .skill__name AWS

